extends layout

block content
    script(src='/javascripts/login.js')
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                h1.text-center.login-title Sign in to MyCalendar
                    div.account-wall
                        img(class='profile-img', src='https://www.cheyennelight.com/sites/default/files/styles/thumb_medium/public/did_you_know/calendar-icon_0.jpg?itok=Zu53QDo3')
                        #form-signin

                    #link-signup
                    #message
